<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        .image-thumbail{
            height: 200px;
            /* object-fit: cover; */
        }
        .list-group-item a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body class = 'm-5'>
    <div class="container">
        <div class="row justify-content-center">
                {% if request.user.is_authenticated %}
                <p>Hello {{request.user}}</p>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'register' %}">Register</a>
                {% endif %}
            <div class="col-md-3">
                <div class="card">
                    <div class = "card-header">
                        Categories
                    </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'main_page' %}">All</a>
                    </li>
                    {%for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'main_page' %}?category={{category.name}}">
                            {{category.name}}
                        </a>
                    </li>
                    {% endfor %}
                    <a href="{% url 'add_photo' %}" class="btn btn-block btn-dark btn-sm m-1">Add photo</a>
                  </ul>
                </div>

            </div>

            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbail"
                                 src="{{photo.image.url}}"
                                 alt="Card image cap">

                            <div class="card-body">
                              <p>Category: {{photo.category.name}}</p>
                            </div>
                            <a href = "{% url 'view_photo' photo.id %}" class="btn btn-outline-dark btn-sm m1">View</a>
                          </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>